{{#types}}
    <li class="dropdown-header">{{type}}</li>
    {{#topics}}
        {{#if implementations}}
            <li class="dropdown-submenu">
                <a class="jsTopicImplementation" tabindex="-1" href="#">{{topic}}</a>
                <ul class="dropdown-menu">
                    {{#implementations}}
                        <li>
                            <a href="javascript:void(0);" class="jsTopicToWidget" onclick="fnctCreateWidget('{{../topic}}','{{../../type}}','{{implementation}}')">{{implementation}}</a>
                        </li>
                    {{/implementations}}
                </ul>
            </li>
        {{else}}
            <li><a class="jsTopicImplementation" tabindex="-1" href="#">{{topic}}</a></li>
        {{/if}}
    {{/topics}}
    {{#if @last}}
    {{else}}
        <li role="separator" class="divider"></li>
    {{/if}}
{{/types}}
<li role="separator" class="divider"></li>
<li>
    <a href="javascript:void(0);" class="jsTopicToWidget" onclick="fnctCreateWidget('','','Webcam')">Webcam</a>
</li>
